<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sergiorodriguez.venalau_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="VenALaU"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".AboutActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".ConfirmacionActivity"  android:screenOrientation="portrait" />
        <activity android:name=".DeportesHomeActivity"   />
        <activity android:name=".DetalleEventoActivity"  android:screenOrientation="portrait" />
        <activity android:name=".EstadoCuentaActivity"  android:screenOrientation="portrait" />
        <activity android:name=".EventosActivity"  android:screenOrientation="portrait" />
        <activity android:name=".ImplementosActivity"  android:screenOrientation="portrait" />
        <activity android:name=".IniciarSesionActivity"  android:screenOrientation="portrait" />
        <activity android:name=".RegistroActivity"  android:screenOrientation="portrait" />
        <activity android:name=".ReservasActivity"  android:screenOrientation="portrait" />
        <activity android:name=".SplashActivity"  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>